
<div id="about" ng-controller="aboutcontroller">

    <header class="header-area" id="Header">
            <!-- Mainmenu Area Start -->
            <div class="mainmenu-area header-sticky fixed">
                <div class="full-container">
                    <div class="row" id="menu">
                        <div class="col-xl-5 col-lg-5 col-sm-12 display-none-md display-none-xs">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#/home">Home</a></li>
                                        <li><a href=""> Online Shop</a>
                                            <ul>
                                                <li><a href="#/tshirt">T-Shirt</a></li>
                                                <li><a href="#/shirt">Shirts</a></li>
                                                <li><a href="#/jeans">Denims</a></li>
                                            </ul>
                                        </li>
                                        <li class="megamenu"><a href="#/franchise">Franchise</a>
                                        </li>
                                        <li><a href="#">Stores</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-12 col-5">
                            <div class="homeLogo text-center">
                                <a href="#/"><img src="images/KAIZEN-ICON.png" alt="KAAIZEN"></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-sm-12 col-7">
                            <div class="header-content d-flex justify-content-end">
                                <div class="search-wrapper">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    <form action="#" class="search-form">
                                        <input type="text" placeholder="Enter your search...">
                                        <button type="button"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="cart-wrapper">
                                    <a href="#/cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>2</span>
                                    </a>
                                </div>
                                <div class="settings-wrapper">
                                    <a href="#"><i class="fa fa-th"></i></a>
                                    <div class="settings-content">
                                        <h4>My Account</h4>
                                        <ul>
                                            <li><a href="#/account">My Account</a></li>
                                            <li><a href="">Wishlist</a></li>
                                            <li><a href="#/cart">Shopping Cart</a></li>
                                            <li><a href="#/checkout">Checkout</a></li>
                                            <li><a href="#">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mainmenu Area End -->
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="mobile-menu container">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="#/home">HOME</a>    
                            </li>
                            <li><a href="">Online Shop</a>
                                <ul>
                                    <li><a href="#/tshirt">T-Shirt</a></li>
                                    <li><a href="#/shirt">Shirts</a></li>
                                    <li><a href="#/jeans">Denims</a></li>
                                </ul>
                            </li>
                            <li><a href="#/franchise">Franchise</a>
                            </li>
                            <li><a href="#">Stores</a></li>
                        </ul>
                    </nav>                          
                </div>
            </div>
            <!-- Mobile Menu Area End -->
    </header>
        <div class="page-header-container">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">About Us</h1>
                    <ul class="page-breadcrumb">
                        <li><a href="#/home">Home</a>
                        </li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
        
            <div class="about-main">
                <div class="container">
                    <div class="heading-box col-md-10 col-lg-8">
                        <h2 class="box-title">KAIZEN Introduction</h2>
                        <p>KAIZEN, a brand introduced by UVK Shopping Private Limited is rejuvenating a brand for premium lifestyle. Trend of fashion always twirl from new to old and vice versa, but classic styles always stand strong. People always roam with classic style. We have introduced an exclusive range of product of new era in the fashion world.</p>
                    </div>
                    <div class="row" id="heading-body">
                        <div class="col-xs-12 col-sm-6">
                            <p>KAIZEN portfolio includes product line that ranges from affordable and mass-marketed to luxurious and high-end style that caters to men’s apparel.Our superior quality work process has rapidly made KAIZEN an authentic and in demand brand of all range of consumers</p>
                            <p> KAIZEN offering the finest quality of men’s fashion, as well as an extraordinary platform for our customers.Using the spirit and rhythm of contemporary India, Our mission is to deliver world class quality through deliberate and persistent innovations.</p>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <p>Luxury is not exclusivity. For us, luxury is quality; the finest ingredients made with exemplary precision and utmost care. Luxury is how a product make you feel. It’s not for just the percentage. We believe it should be affordable.</p>
                            <p>Where “Its Ok” is just not Okay. We sweat out the details. We check the straightness of a stitch. We freak on a misplaced button. We insist on using some of the world’s finest fabrics, and only work with partners who understand our stance on quality. We don’t settle for “OK”.Our job is to satisfy you and we’re only satisfied if you are.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-banner banner-image2">
                <div class="banner-color1">
                    <div class="about-main container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-box style-side-6 box">
                                    <div class="icon-container">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <div class="box-content">
                                        <h4 class="box-title"><a href="#">Free Shipping</a></h4>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusan doloremque laudantium.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box style-side-6 box">
                                    <div class="icon-container">
                                        <i class="fa fa-headphones"></i>
                                    </div>
                                    <div class="box-content">
                                        <h4 class="box-title"><a href="#">Online Support</a></h4>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusan doloremque laudantium.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="icon-box style-side-6 box">
                                    <div class="icon-container">
                                        <i class="fa fa-handshake-o"></i>
                                    </div>
                                    <div class="box-content">
                                        <h4 class="box-title"><a href="#">Customer Service</a></h4>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptate accusan doloremque laudantium.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <!-- Testimonial Area -->
            <div id="testimonial-area" class="testimonial-area section-padding--xlg bg--grey">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-10 col-12">
                            <div class="testimonial text-center">

                                <!-- Testimonial Content -->
                            
                                <slick class="testimonial__content testimonial-content-slider-active"settings='slickConfig'>

                                    <!-- Testimonial Content Single -->
                                    <div class="testimonial__content__single">
                                        <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                            autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro</p>
                                    </div>
                                    <!--// Testimonial Content Single -->

                                    <!-- Testimonial Content Single -->
                                    <div class="testimonial__content__single">
                                        <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                            autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro</p>
                                    </div>
                                    <!--// Testimonial Content Single -->

                                    <!-- Testimonial Content Single -->
                                    <div class="testimonial__content__single">
                                        <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                            autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro</p>
                                    </div>
                                    <!--// Testimonial Content Single -->

                                    <!-- Testimonial Content Single -->
                                    <div class="testimonial__content__single">
                                        <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                            autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro</p>
                                    </div>
                                    <!--// Testimonial Content Single -->

                                    <!-- Testimonial Content Single -->
                                    <div class="testimonial__content__single">
                                        <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                            autodit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                                            porro</p>
                                    </div>
                                    <!--// Testimonial Content Single -->

                                    <!-- Testimonial Content Single -->
                                    <div class="testimonial__content__single">
                                        <p>Parchitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                                            odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro</p>
                                    </div>
                                    <!--// Testimonial Content Single -->
                            </slick>
                                <!--// Testimonial Content -->

                                <!-- Testimonial Author -->
                                <slick class="testimonial__author testimonial-author-slider-active"settings='slickConfig'>

                                    <!-- Single Author -->
                                    <div class="testimonial__author__single">
                                        <div class="testimonial__author__image">
                                            <img src="images/male.png" alt="testimonial author">
                                        </div>
                                        <div class="testimonial__author__description">
                                            <h6>DAVID MILLER</h6>
                                            <span>President</span>
                                        </div>
                                    </div>
                                    <!--// Single Author -->

                                    <!-- Single Author -->
                                    <div class="testimonial__author__single">
                                        <div class="testimonial__author__image">
                                            <img src="images/female.png" alt="testimonial author">
                                        </div>
                                        <div class="testimonial__author__description">
                                            <h6>RAISA MARIYA</h6>
                                            <span>CEO</span>
                                        </div>
                                    </div>
                                    <!--// Single Author -->

                                    <!-- Single Author -->
                                    <div class="testimonial__author__single">
                                        <div class="testimonial__author__image">
                                            <img src="images/male.png" alt="testimonial author">
                                        </div>
                                        <div class="testimonial__author__description">
                                            <h6>SHON SMITH</h6>
                                            <span>Executive</span>
                                        </div>
                                    </div>
                                    <!--// Single Author -->

                                    <!-- Single Author -->
                                    <div class="testimonial__author__single">
                                        <div class="testimonial__author__image">
                                            <img src="images/male.png" alt="testimonial author">
                                        </div>
                                        <div class="testimonial__author__description">
                                            <h6>DAVID MILLER</h6>
                                            <span>President</span>
                                        </div>
                                    </div>
                                    <!--// Single Author -->

                                    <!-- Single Author -->
                                    <div class="testimonial__author__single">
                                        <div class="testimonial__author__image">
                                            <img src="images/female.png" alt="testimonial author">
                                        </div>
                                        <div class="testimonial__author__description">
                                            <h6>RAISA MARIYA</h6>
                                            <span>CEO</span>
                                        </div>
                                    </div>
                                    <!--// Single Author -->

                                    <!-- Single Author -->
                                    <div class="testimonial__author__single">
                                        <div class="testimonial__author__image">
                                            <img src="images/male.png" alt="testimonial author">
                                        </div>
                                        <div class="testimonial__author__description">
                                            <h6>SHON SMITH</h6>
                                            <span>Executive</span>
                                        </div>
                                    </div>
                                    <!--// Single Author -->

                                
                            </slick>
                                <!--// Testimonial Author -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <!-- Newsletter Area Start -->
        <div class="newsletter-area border-top ptb-110">
            <div class="container">
                <div class="section-title-2 text-center">
                    <span><span class="text-red">Special Offers</span> for Subscribers</span>
                    <h3> Members Get Special Discount</h3>
                    <p>Subscribe to our newsletters now and stay up to date with new collections, the latest fashion and exclusive offers.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-9">
                        <div class="newsletter-form mc_embed_signup">
                            <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="mc-form">
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                    <button id="mc-embedded-subscribe" type="submit" name="subscribe">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter Area End -->

    <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Kaizen</h4>
                        <p>J-44 S/F West Patel Nagar, New Delhi-IN</p>
                        <p><i class="fa fa-envelope"></i>:customersupport@kaizen.com</p>
                        <p><i class="fa fa-phone"></i>:+91-1234567890</p>
                        <ul class="main-footer-social-list">
                            <li>
                                <a class="fa fa-facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-instagram" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Popular Tags</h4>
                        <ul class="main-footer-tag-list">
                            <li><a href="#">New Season</a>
                            </li>
                            <li><a href="#">Mens</a>
                            </li>
                            <li><a href="#">Denims</a>
                            </li>
                            <li><a href="#">classic</a>
                            </li>
                            <li><a href="#">modern</a>
                            </li>
                            <li><a href="#">T-shirts</a>
                            </li>
                            <li><a href="#">Jeans</a>
                            </li>
                            <li><a href="#">Fashion</a>
                            </li>
                            <li><a href="#">Cool</a>
                            </li>
                            <li><a href="#">Shirts</a>
                            </li>
                            <li><a href="#">Formal</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Newsletter</h4>
                        <form>
                            <div class="form-group">
                                <label>Sign up to the newsletter</label>
                                <input class="newsletter-input form-control" placeholder="Your e-mail address" type="text" />
                            </div>
                            <input class="btn btn-primary" type="submit" value="Sign up" />
                        </form>
                    </div>
                </div>
                <ul class="main-footer-links-list">
                    <li><a href="#/about">About Us</a>
                    </li>
                    <li><a href="#/career">Careers</a>
                    </li>
                    <li><a href="#">Support & Customer Service</a>
                    </li>
                    <li><a href="#/privacy">Privacy</a>
                    </li>
                    <li><a href="#/terms">Terms</a>
                    </li>
                    <li><a href="#">Shipping</a>
                    </li>
                    <li><a href="#">Payments & Refunds</a>
                    </li>
                </ul>
            </div>
        </footer>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright-text">Copyright &copy; <a href="#">Kaizen</a> 2018. Designed by NGBCS. All rights reseved</p>
                    </div>
                    
                </div>
            </div>
        </div>
</div>
