
<div ng-controller="franchisecontroller">

    <header class="header-area" id="Header">
            <!-- Mainmenu Area Start -->
            <div class="mainmenu-area header-sticky fixed">
                <div class="full-container">
                    <div class="row" id="menu">
                        <div class="col-xl-5 col-lg-5 col-sm-12 display-none-md display-none-xs">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#/home">Home</a></li>
                                        <li><a href=""> Online Shop</a>
                                            <ul>
                                                <li><a href="#/tshirt">T-Shirt</a></li>
                                                <li><a href="#/shirt">Shirts</a></li>
                                                <li><a href="#/jeans">Denims</a></li>
                                            </ul>
                                        </li>
                                        <li class="megamenu"><a href="#/franchise">Franchise</a>
                                        </li>
                                        <li><a href="#">Stores</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-12 col-5">
                            <div class="homeLogo text-center">
                                <a href="#/"><img src="images/KAIZEN-ICON.png" alt="KAAIZEN"></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-sm-12 col-7">
                            <div class="header-content d-flex justify-content-end">
                                <div class="search-wrapper">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    <form action="#" class="search-form">
                                        <input type="text" placeholder="Enter your search...">
                                        <button type="button"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="cart-wrapper">
                                    <a href="#/cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>2</span>
                                    </a>
                                </div>
                                <div class="settings-wrapper">
                                    <a href="#"><i class="fa fa-th"></i></a>
                                    <div class="settings-content">
                                        <h4>My Account</h4>
                                        <ul>
                                            <li><a href="#/account">My Account</a></li>
                                            <li><a href="">Wishlist</a></li>
                                            <li><a href="#/cart">Shopping Cart</a></li>
                                            <li><a href="#/checkout">Checkout</a></li>
                                            <li><a href="#">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mainmenu Area End -->
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="mobile-menu container">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="#/home">HOME</a>    
                            </li>
                            <li><a href="">Online Shop</a>
                                <ul>
                                    <li><a href="#/tshirt">T-Shirt</a></li>
                                    <li><a href="#/shirt">Shirts</a></li>
                                    <li><a href="#/jeans">Denims</a></li>
                                </ul>
                            </li>
                            <li><a href="#/franchise">Franchise</a>
                            </li>
                            <li><a href="#">Stores</a></li>
                        </ul>
                    </nav>                          
                </div>
            </div>
            <!-- Mobile Menu Area End -->
    </header>
    <!-- <div id="map"></div> -->
    <div id="map"></div>
    <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
         
    </div>
    <div id="feedback-contact">
        <div id="feedback-contactForm" ng-show='visible' class="col-xs-4 col-md-4 panel panel-default">
            <form method="POST" action="" class="form panel-body" role="form" name="contactform">
                <div class="form-group">
                    <input class="form-control" name="contactname" autofocus placeholder="Name" type="text" required="" />
                </div>
                <div class="form-group">
                    <input class="form-control" name="contactemail" autofocus placeholder="E-mail" type="email" required="" />
                </div>
                <div class="form-group">
                    <input class="form-control" name="contactphone" autofocus placeholder="Contact No" type="tel" required=""/>
                </div>
                <div class="form-group">
                    <label class="radio-inline"><input type="radio" name="optradio" checked>Distributor
                    </label>
                    <label class="radio-inline"><input type="radio" name="optradio">Franchise</label>
                </div>
                <div class="form-group">
                    <input class="form-control" name="contactcompany" autofocus placeholder="Company name" type="text"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="contactbody" required placeholder="Please write your message here..." rows="5"></textarea>
                </div>
                <button class="btn btn-primary pull-right" type="submit" name="submit" value="submit">Submit</button>
            </form>
        </div>
        <div id="feedback-contactTab" ng-click="toggle()">Contact Us</div>
    </div>
    
        <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Kaizen</h4>
                        <p>J-44 S/F West Patel Nagar, New Delhi-IN</p>
                        <p><i class="fa fa-envelope"></i>:customersupport@kaizen.com</p>
                        <p><i class="fa fa-phone"></i>:+91-1234567890</p>
                        <ul class="main-footer-social-list">
                            <li>
                                <a class="fa fa-facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-instagram" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Popular Tags</h4>
                        <ul class="main-footer-tag-list">
                            <li><a href="#">New Season</a>
                            </li>
                            <li><a href="#">Mens</a>
                            </li>
                            <li><a href="#">Denims</a>
                            </li>
                            <li><a href="#">classic</a>
                            </li>
                            <li><a href="#">modern</a>
                            </li>
                            <li><a href="#">T-shirts</a>
                            </li>
                            <li><a href="#">Jeans</a>
                            </li>
                            <li><a href="#">Fashion</a>
                            </li>
                            <li><a href="#">Cool</a>
                            </li>
                            <li><a href="#">Shirts</a>
                            </li>
                            <li><a href="#">Formal</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Newsletter</h4>
                        <form>
                            <div class="form-group">
                                <label>Sign up to the newsletter</label>
                                <input class="newsletter-input form-control" placeholder="Your e-mail address" type="text" />
                            </div>
                            <input class="btn btn-primary" type="submit" value="Sign up" />
                        </form>
                    </div>
                </div>
                <ul class="main-footer-links-list">
                    <li><a href="#/about">About Us</a>
                    </li>
                    <li><a href="#/career">Careers</a>
                    </li>
                    <li><a href="#">Support & Customer Service</a>
                    </li>
                    <li><a href="#/privacy">Privacy</a>
                    </li>
                    <li><a href="#/terms">Terms</a>
                    </li>
                    <li><a href="#">Shipping</a>
                    </li>
                    <li><a href="#">Payments & Refunds</a>
                    </li>
                </ul>
            </div>
        </footer>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright-text">Copyright &copy; <a href="#">Kaizen</a> 2018. Designed by NGBCS. All rights reseved</p>
                    </div>
                    
                </div>
            </div>
        </div>
    
</div>
