
<div ng-controller="termscontroller">

    <header class="header-area" id="privacy-header">
            <!-- Mainmenu Area Start -->
            <div class="mainmenu-area header-sticky fixed">
                <div class="full-container">
                    <div class="row" id="menu">
                        <div class="col-xl-5 col-lg-5 col-sm-12 display-none-md display-none-xs">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#/home">Home</a></li>
                                        <li><a href=""> Online Shop</a>
                                            <ul>
                                                <li><a href="#/tshirt">T-Shirt</a></li>
                                                <li><a href="#/shirt">Shirts</a></li>
                                                <li><a href="#/jeans">Denims</a></li>
                                            </ul>
                                        </li>
                                        <li class="megamenu"><a href="#/franchise">Franchise</a>
                                        </li>
                                        <li><a href="#">Stores</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-12 col-5">
                            <div class="homeLogo text-center">
                                <a href="#/"><img src="images/KAIZEN-ICON.png" alt="KAAIZEN"></a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-sm-12 col-7">
                            <div class="header-content d-flex justify-content-end">
                                <div class="search-wrapper">
                                    <a href="#"><i class="fa fa-search"></i></a>
                                    <form action="#" class="search-form">
                                        <input type="text" placeholder="Enter your search...">
                                        <button type="button"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="cart-wrapper">
                                    <a href="#/cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        <span>2</span>
                                    </a>
                                </div>
                                <div class="settings-wrapper">
                                    <a href="#"><i class="fa fa-th"></i></a>
                                    <div class="settings-content">
                                        <h4>My Account</h4>
                                        <ul>
                                            <li><a href="#/account">My Account</a></li>
                                            <li><a href="">Wishlist</a></li>
                                            <li><a href="#/cart">Shopping Cart</a></li>
                                            <li><a href="#/checkout">Checkout</a></li>
                                            <li><a href="#">Login</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mainmenu Area End -->
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="mobile-menu container">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="#/home">HOME</a>    
                            </li>
                            <li><a href="">Online Shop</a>
                                <ul>
                                    <li><a href="#/tshirt">T-Shirt</a></li>
                                    <li><a href="#/shirt">Shirts</a></li>
                                    <li><a href="#/jeans">Denims</a></li>
                                </ul>
                            </li>
                            <li><a href="#/franchise">Franchise</a>
                            </li>
                            <li><a href="#">Stores</a></li>
                        </ul>
                    </nav>                          
                </div>
            </div>
            <!-- Mobile Menu Area End -->
    </header>

    <div class="container">
        <div class="privacyRow">
            <h1>General</h1>
            <p>This document shall be construed as a “Privacy Policy” mandated under the Indian Information Technology Act, 2000 and rules notified there under.We have been creating authentic products by leading with our values. As we continue to innovate in how we bring our products to life online, we’ll match cutting-edge technology with your privacy interests.</p>
            <p>UVK SHOPPING PRIVATE LIMITED. ("KAIZEN" "we" "us") website(s) (our "Site" or "Sites") and related services are made available to you in accordance with the following Terms of Use & Service, and any other rules posted on our Sites (collectively, the "TOS").</p> 
            <p>In particular, we wish to draw your attention to our policies relating to the terms of purchase within the TOS and our Privacy Policy. </p>
            <h2>Eligibility</h2>
            <p>Use of our Websites is available only to persons who can form legally binding contracts under the Indian Contract Act, 1872. Persons who are ‘incompetent to contract’ within the meaning of the Indian Contract Act, 1872 including minors are not eligible to use the Website. If you are a minor i.e. under the age of 18 years, you should not use, access or transact on our Websites. As a minor if you wish to use or transact on our Websites, such use or transaction may be made by your legal guardian or parents.</p>
            <h2>Competitions</h2>
            <p>From time to time, we may offer special promotions or competitions. Where we do offer such promotions or competitions, we will make a copy of the applicable terms available on the relevant Website.</p>
            <h2>Online Products and Sales</h2>
            <h3>1.Your Account</h3>
            <p>You do not need to have an account to place an order on our Primary Website. However, if you have an account on our Primary Website, you may enjoy a better shopping experience through the benefits an account offers, such as being able to view your purchase history and save your contact and shipping information.</p>
            <h3>2.Ordering of Products</h3>
            <p>You may purchase products by selecting and submitting an order on our Primary Website in accordance with these Terms. </p>
            <p>Any order that we receive from you in relation to a product on our Primary Website is treated as an offer by you (either to us, or the third party provider, as the case may be). It is an offer made by you to purchase the product for the price listed (inclusive of any fees and charges). The offer is made at the time that the order is made, and on these Terms. </p>
            <p>In order to process any orders, we may require additional information from you. Where we do request such information, you must provide accurate, complete and up to date information so that we can confirm the details of the order.</p>
            <p>We reserve the right, without prior notice, to limit the order quantity on any product or service and/or to refuse service to any customer.</p>
            <p>You confirm that the product(s) ordered by you are being purchased for your internal / personal purpose and not for re-sale or business purposes. You authorize us to declare and provide declaration to any governmental authority on your behalf stating the aforesaid purpose of the product(s) ordered by you on our Primary Website.</p>
            <h3>3.Acceptance of Order</h3>
            <p>Acceptance of the order occurs where:</p>
            <ul>
                <li>we confirm that the product(s) you have ordered are available for delivery</li>
                <li>the payment made by you for the product(s) is approved by us and we have debited the amount of the order from your debit or credit card or other payment method (i.e. when the payment is cleared), and </li>
                <li>we send an email to you with your invoice and tracking information.</li>
            </ul>
            <p>If, for whatever reason, we decide to reject the order placed by you, we will endeavour to inform you of this within a reasonable period after the order is submitted. </p>
            <h3>4. Pricing and Availability</h3>
            <p>We try to ensure that the information provided on our Websites is accurate, up to date and error-free. In relation to our Primary Website, this includes pricing information in relation to our products. </p>
            <p>However, where the price listed does contain any errors or inaccuracies, we will endeavour to inform you of this as soon as practicable, but before we accept your order. If we are able to make contact with you, we will provide you with the option of reconfirming the order at the correct price, or cancelling the order. If we are unable to make contact with you within a reasonable period of time following receipt of the order, we will treat the order as being cancelled. </p>
            <p>Where an error or inaccuracy results in the receipt of an order for a product that is out of stock or not available, we reserve the right to refuse to fill any such orders and contact you as soon as practicable with the option of selecting an alternative product through the Primary Website. Prices, promotions and products offered on our Primary Website may be site specific. </p>
            <h3>5.  Fees, Charges and Taxes</h3>
            <p>All prices listed are in Indian Rupees (INR).</p>
            <p>The prices listed on our Primary Website are, where applicable, inclusive of VAT/CST, service tax, Goods and Services Tax (GST), duties and cesses (as applicable) unless stated otherwise. If any additional charges or fees apply (such as delivery fees, duties and cesses, etc.), these will be clearly disclosed at the beginning of the online purchasing process.</p>
            <h3>6.Delivery of Products</h3>
            <p>When you place an order on our Primary Website, we (through our third party delivery provider) will deliver your order to the address designated by you as long as that address is within India and compliant with the restrictions set out on the Primary Website. We may require verification of information prior to the acceptance and/or delivery of any order. </p>
            <p>We may not charge for the first delivery attempt, but minimum purchase amounts may apply in some circumstances (including without limitation where your delivery address is remote or difficult to access). You may be required to pay for the delivery charges after the first unsuccessful delivery attempt, if any. </p>
            <p>Delivery times are indicative only and are based on estimates indicated by our delivery providers and the typical delivery times experienced by us. At certain times, delivery times may be longer than what is advised (such as in busy periods, including sale and holiday seasons). </p>
            <p>We will only make delivery of a product where we are able to deliver it to a person who can sign for it at the delivery address, or where we have received your express authorisation to leave a product at the delivery address. Where you have provided such an authorisation, you accept the risk of theft, damage or loss of the product from the time and location at which it is delivered. </p>
            <p>Where we cannot deliver the product to a person who can sign for it, and do not have an express authorisation to leave the product at the delivery location, we will leave the product at the post office from where you must collect it within 7 days, after which the product will be returned to us. You may contact our customer care to arrange another time for delivery. If you do not contact our customer care within 7 days, we will cancel your order and refund your money. </p>
            <p>See our shipping FAQs for information about shipping. </p>
            <h3>7.Amending and Cancellation of Orders</h3>
            <p>Once an order has been placed, it cannot be amended or cancelled by you. This includes amending details such as the delivery address, removal of items or colour/size changes. We therefore ask that, at the time when the order is made, you ensure that the details provided are accurate, complete and up to date. You may, however, return your order once it has been delivered to you. Please note that any shipping charges that may have been applied on your order will not refunded, except in case of damaged products received.</p>
            <p>We may, however, cancel an order for any of the reasons outlined in these Terms, where the order has been placed in contravention of these Terms, the product has been recalled, or where required by law.</p>
            <h3>8.Returns</h3>
            <p>Unless otherwise specifically provided in writing, we will only refund or accept changes in accordance with these Terms and our FAQs. We will accept returns within 60 days from the order confirmation date, provided they are still in their original condition (unused and with the original tags still attached). Please see our returns FAQs for information about returns. We do not exchange goods, other than where required by law. We do not accept returns for final sales, promotional items or opened-packaged items. </p>
            <p>We will accept returns and provide you with a refund where: </p>
            <ul>
                <li>the products are faulty or not of acceptable quality,</li>
                <li>the products do not match the sample of our description, and</li>
                <li>the products are not fit for their intended purpose. </li>
            </ul>
            <p>All refunds will be provided in Indian Rupees using your original payment method. For cash on delivery orders, the refund will be provided through online transfer only. We will not be able to issue a cheque or pay through cash.</p>
            <p>Return shipping fees are non-refundable. However, if the product is faulty or not of acceptable quality, does not match the sample of our description or is not fit for its intended purpose, we will reimburse the return shipping fees.</p>
            <h3>9.Payment Methods</h3>
            <p>We accept payment (through our third party merchants) through any of the payment methods specified in our Payment Terms</p>
            <p>We will provide you with an invoice following the making of any payment. </p>
            <p>While availing any of the payment methods available on our Primary Website, we will not be responsible or assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to you due to lack of authorization for any transactions, or exceeding the present limit mutually agreed by you and your bank, or any payment issues arising out of the transaction, or decline of transaction for any other reasons. </p>
            <h3>10. Product Descriptions</h3>
            <p>Although we endeavour to ensure that the information provided on our Websites is as accurate as possible, we do not warrant that the product descriptions or other Content of our Websites is accurate, complete, reliable, current, or error-free. We therefore assume no liability in this regard.</p>
            <p>We reserve the right to correct any typographical errors, inaccuracies, or omissions that may relate to product descriptions, pricing and availability from time to time without prior notice. If a product offered on our Primary Website is not as described, your sole remedy is to return it to us in accordance with our Return Policy.</p>
            <h2>Personal Information And Ssl</h2>
            <p>At times, we may ask you for personal information while you are visiting our website. We ask for this information only to deliver materials that you have requested, to respond to a question you have asked, or to provide you with a product or service.</p>
            <p>When you enter data into an online form on our website, the personal information you type is protected and securely transmitted to us through a method such as a Secure Sockets Layer (SSL). SSL is the standard method that websites use to protect visitors' information by coding or "encrypting" everything from credit card transactions to enrollment data.</p>
            <p>All of the information that our customers provide to us through this website is subject to the protections outlined in our Privacy Statement and Notice of Privacy Practices.</p>
            <p>KAIZEN a Division of 'UVK SHOPPING PRIVATE LIITED' takes the security of your information very seriously and has established security standards and procedures to prevent unauthorized access to customer information. We maintain physical, electronic and procedural safeguards to guard your information. All authorized personnel within our organization who deal with your information must abide by a confidentiality agreement. KAIZEN A Division of UVK SHOPPING PRIVATE LIITED website (www.kaizenfashion.com) , however, includes links to other sites and when you choose to visit those sites, we are not responsible for their privacy policies or how they treat user information. In addition, we may permit third parties to offer registration-based services through our site. We are not responsible for the actions and policy of these third parties and you should review the privacy policy of those parties before supplying personally identifiable information to them.</p>
            <h2>Our Rights</h2>
            <p>We reserve the right to:</p>
            <ul>
                <li>Modify or withdraw, temporarily or permanently, the Website (or any part thereof) with or without notice to You and confirm that We shall not be liable to You or any third party for any modification to or withdrawal of the Website; and/or</li>
                <li>Change the Conditions from time to time, and Your continued use of the Website (or any part thereof) following such change shall be deemed to be Your acceptance of such change.  It is Your responsibility to check regularly to determine whether the Conditions have been changed.  If You do not agree to any change to the Conditions then You must immediately stop using the Website.</li>
            </ul>
            <h2>Third Party Rights</h2>
            <p>It is agreed that any person who is not a party to any Contract between You and Us shall not be allowed to rely on</p>
            <h2>Waiver</h2>
            <p>No waiver by Us shall be construed as a waiver of any preceding or succeeding breach of any provision.</p>
            <h2> Loyalty Programs</h2>
            <p>Members of one or more of our loyalty programs must create an account with us in order to enjoy the benefits of their membership. Additional terms and conditions apply to our loyalty programs.</p>
            <h2>Termination</h2>
            <p>KAIZEN a Division of 'UVK SHOPPING PRIVATE LIMITED' may, in its sole discretion, terminate or suspend your access to all or any part of this site including, but not limited to, any bulletin boards on this site, for any reason, including without limitation, breach of this agreement. If this agreement is terminated, the restrictions regarding materials appearing on this site and the representations and warranties, indemnities and limitations of liability set forth in this agreement shall survive any such termination.</p>
            <h2>Governing Laws</h2>
            <p>These Terms and Conditions are governed by the laws of the India as such laws.</p>
            <h2>Contact Us</h2>
            <p>If you have any questions or concerns about the Terms, please contact us by any of the methods: Working hours are 10:00 to 18:00 IST. Monday – Saturday (except public holidays). We aim to respond promptly to all calls, faxes and e-mails received outside of these working hours on the following working day.</p>
            <p>Touch with us: +91-11-49537988</p>
            <p>Write us: customersupport@uvkshopping.in</p>
        </div>
    </div>

     <footer class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Kaizen</h4>
                        <p>J-44 S/F West Patel Nagar, New Delhi-IN</p>
                        <p><i class="fa fa-envelope"></i>:customersupport@kaizen.com</p>
                        <p><i class="fa fa-phone"></i>:+91-1234567890</p>
                        <ul class="main-footer-social-list">
                            <li>
                                <a class="fa fa-facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-instagram" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Popular Tags</h4>
                        <ul class="main-footer-tag-list">
                            <li><a href="#">New Season</a>
                            </li>
                            <li><a href="#">Mens</a>
                            </li>
                            <li><a href="#">Denims</a>
                            </li>
                            <li><a href="#">classic</a>
                            </li>
                            <li><a href="#">modern</a>
                            </li>
                            <li><a href="#">T-shirts</a>
                            </li>
                            <li><a href="#">Jeans</a>
                            </li>
                            <li><a href="#">Fashion</a>
                            </li>
                            <li><a href="#">Cool</a>
                            </li>
                            <li><a href="#">Shirts</a>
                            </li>
                            <li><a href="#">Formal</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4 class="widget-title-sm">Newsletter</h4>
                        <form>
                            <div class="form-group">
                                <label>Sign up to the newsletter</label>
                                <input class="newsletter-input form-control" placeholder="Your e-mail address" type="text" />
                            </div>
                            <input class="btn btn-primary" type="submit" value="Sign up" />
                        </form>
                    </div>
                </div>
                <ul class="main-footer-links-list">
                    <li><a href="#/about">About Us</a>
                    </li>
                    <li><a href="#/career">Careers</a>
                    </li>
                    <li><a href="#">Support & Customer Service</a>
                    </li>
                    <li><a href="#/privacy">Privacy</a>
                    </li>
                    <li><a href="#/terms">Terms</a>
                    </li>
                    <li><a href="#">Shipping</a>
                    </li>
                    <li><a href="#">Payments & Refunds</a>
                    </li>
                </ul>
            </div>
        </footer>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="copyright-text">Copyright &copy; <a href="#">Kaizen</a> 2018. Designed by NGBCS. All rights reseved</p>
                    </div>
                    
                </div>
            </div>
        </div>

</div>